body {
  font-family: Roboto Medium, sans-serif;
  color: #052C65;
  font-size: 14px;
  background-color: white !important;
}

.my-max-width {
  max-width: 400px;
}

.accordion-button:not(.collapsed) {
  background-color:#0D6EFD ;
  color: white;
}


.my-style-color{
  color: #052C65;
}

.my-style-hover:hover{
  background-color:#0D6EFD ;
  color: white;

}

.title-container{
  padding-top: 100px;
  margin-bottom: 60px;
}

@media screen and (max-width:768px){
  .title-container{
    padding-top: 50px;
  }
}

.data-filter-btn {
  width: 100px;
}

.my-date-input {
  width: 100px;
}

.date-filter-margin{
  margin-bottom: 140px;
}


.date-to,
.date-from{
  outline: 0;
}

.date-to::placeholder,
.date-from::placeholder {
  text-decoration: underline;
}

.my-font-size {
  font-size: 14px;
}

.my-font-size-2 {
  font-size: 15px;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 38%;
}

.accordion-button.collapsed::after {
  content: url('../images/mini-arrow.png');
  text-align: center;
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  content: url('../images/mini-arrow2.png');
  text-align: center;
  background-image: none;
  transform: rotate(360deg);
}


.my-card-class {
  width: 352px;
}

.my-add-card-class {
  height: 121px;
}

.my-input-width {
  max-width: 397px;
}