<header class="header-main">
    <div class>
        <div class="title-container container-fluid">
            <h1 class="dashboard-title">Редактирование дохода/расхода</h1>
        </div>
    </div>
</header>


<section class="create-redact-income">
    <div class="container-fluid">
        <div class="d-flex flex-column">
            <input type="text" placeholder="Тип..." class="create-redact-income-input">
            <input type="text" placeholder="Категория..." class="create-redact-income-input">
            <input type="text" placeholder="Сумма в $..." class="create-redact-income-input">
            <input type="text" placeholder="Дата..." class="create-redact-income-input">
            <input type="text" placeholder="Комментарий..." class="create-redact-income-input">
            <div class="create-redact-income-btns">
                <button type="button" class="btn btn-success create-redact-income-btn">Создать</button>
                <a href="/dashboard" class="btn btn-danger card-btn card-btn-delete">Отмена</a>
            </div>
        </div>
    </div>
</section>