
<header class="dashboard-header header-main">
    <div class>
        <div class="title-container container-fluid">
            <h1 class="dashboard-title">Главная</h1>
        </div>
    </div>
</header>


<section class="content container-fluid stats">
    <div class="date-filters  d-md-block">
        <button type="button" class="btn btn-outline-secondary data-filter-btn ">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary data-filter-btn ">Неделя</button>
        <button type="button" class="btn btn-outline-secondary data-filter-btn ">Месяц</button>
        <button type="button" class="btn btn-outline-secondary data-filter-btn  ">Год</button>
        <button type="button" class="btn btn-outline-secondary data-filter-btn ">Все</button>
        <button type="button" class="btn btn-outline-secondary data-filter-btn ">Интервал</button>
        <label for="date-from" class="date-label">с</label>
        <input type="text" placeholder="Дата" id="date-from" class="date-from">
        <label for="date-to" class="date-label">до</label>
        <input type="text" placeholder="Дата" id="date-to" class="date-to">
    </div>
    <div class="container-fluid  d-flex justify-content-center ">


        <div class="d-flex flex-column align-items-center">
            <div class="card-header">
                <h3 class="income-title">Доходы</h3>
            </div>
            <!--   <div class="chartjs-size-monitor">
                   <div class="chartjs-size-monitor-expand">
                       <div class=""></div>
                   </div>
                   <div class="chartjs-size-monitor-shrink">
                       <div class=""></div>
                   </div>
               </div>-->
            <div class="chart-wrapper">
                <canvas id="myChart"
                        style="min-height: 250px; height: 360px; max-height: 360px;  "
                        class="chartjs-render-monitor border-right"></canvas>
            </div>

        </div>


        <div>

            <div class="d-flex flex-column align-items-center">
                <div class="card-header">
                    <h3 class="expenses-title <!--card-title--> ">Расходы</h3>

                </div><!--
                   <div class="chartjs-size-monitor">
                       <div class="chartjs-size-monitor-expand">
                           <div class=""></div>
                       </div>
                       <div class="chartjs-size-monitor-shrink">
                           <div class=""></div>
                       </div>
                   </div>-->
                <div class="chart-wrapper">
                    <canvas id="myChart2"
                            style="min-height: 250px; height: 360px; max-height: 360px;  "
                            class="chartjs-render-monitor"></canvas>
                </div>
            </div>

        </div>


    </div><!-- /.container-fluid -->
</section>















