<section class="content container-fluid px-lg-4 px-3 w-100">
  <div class="title-container">
    <h1 class="title dashboard-title">Главная</h1>
  </div>
  <div class="date-filters date-filter-margin">
    <div class="d-flex flex-wrap   mb-5  justify-content-center  justify-content-sm-start">
      <button type="button" class="btn btn-outline-secondary data-filter-btn me-2 me-lg-2 mb-2 active" id="today-btn">Сегодня</button>
      <button type="button" class="btn btn-outline-secondary data-filter-btn me-2 me-md-3 mb-2" id="week-btn">Неделя</button>
      <button type="button" class="btn btn-outline-secondary data-filter-btn  me-2 me-md-3 mb-2" id="month-btn">Месяц</button>
      <button type="button" class="btn btn-outline-secondary data-filter-btn me-2 me -md-3 mb-2" id="year-btn">Год</button>
      <button type="button" class="btn btn-outline-secondary data-filter-btn me-2 me-md-3 mb-2" id="all-btn">Все</button>
      <button type="button" class="btn btn-outline-secondary data-filter-btn me-2 me-md-3 mb-2" id="interval-btn">Интервал</button>
      <div class=" d-flex align-items-center justify-content-center me-2 me-md-3 mb-2 my-date-input ">
        <label for="date-from" class="fw-bold ps-2  me-2  ">с</label>
        <input type="text" placeholder="Дата" id="date-from" class="form-control border-0 outline-0 date-from">
      </div>
      <div class="d-flex align-items-center justify-content-center my-date-input mb-2">
        <label for="date-to" class="fw-bold ps-2  me-2">до</label>
        <input type="text" placeholder="Дата" id="date-to" class="form-control border-0 outline-0 date-to">
      </div>
    </div>

  </div>

  <div class="d-flex flex-lg-row flex-column  charts-container  justify-content-lg-around align-items-lg-stretch align-items-center  ">

    <div class=" chart-container mb-5 mb-lg-0  img-fluid">
      <div class="card-header text-center mb-2">
        <h3 class="expenses-title">Доходы</h3>

      </div>
      <canvas id="myChart" class=""  style="position: relative; height:500px; width:500px;"></canvas>
    </div>
    <div class="border-end border-2 border-light"></div>



      <div class="chart-container pb-5 pb-lg-0  img-fluid">
        <div class="card-header text-center mb-2">
          <h3 class="expenses-title">Расходы</h3>

        </div>
        <canvas id="myChart2"   style="position: relative; height:500px; width:500px;"></canvas>
      </div>

  </div>
</section>