

<section class="d-flex justify-content-center w-100 w-100">
    <div class="login-box ">

        <div class="mb-5 text-center">
            <img src="/images/logo.png" alt="logo">
        </div>

        <div class="login-text text-center mb-3">
            <h1 class="my-style-color text-center"> Вход</h1>
        </div>

        <form class="form">
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-envelope-open" viewBox="0 0 16 16">
                                <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035
                                 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0
                                 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z"/>
                            </svg>
                        </span>
                    </div>
                </div>

                <input type="email" class="form-control" placeholder="Электронная почта" id="email">
                <span class="invalid-feedback">Введите корректный E-mail</span>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-lock" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0
                             0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                        </svg>
                    </span>
                    </div>
                </div>

                <input type="password" class="form-control" placeholder="Пароль" id="password">
                <span class="invalid-feedback">Заполните пароль</span>

            </div>
            <div class="row ">
                <div class="col-8 mb-3">
                    <input type="checkbox" class="checkbox" id="remember">
                    <label for="remember" class="mb-0 font-weight-normal">
                        Запомните меня
                    </label>

                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-12 mb-1 ">
                <button type="button" class="btn btn-primary btn-block my-font-size-2" id="process-button">Войти
                </button>
            </div>
        </div>

        <p class="mt-1 d-flex flex-column d-sm-block">
            <span>Ещё нет аккаунта?</span>
            <ins><a href="/signup">Пройдите регистрацию</a></ins>
        </p>
    </div>

</section>
