<header class="header-main">
    <div class>
        <div class="title-container container-fluid">
            <h1 class="dashboard-title">Доходы</h1>
        </div>
    </div>
</header>


<section class="incomes-expenses">

    <div class="container-fluid row gap-5">

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Еда</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Жильё</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Здоровье</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>


        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Кафе</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Авто</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Одежда</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Развлечения</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Счета</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-body-header">Спорт</h3>
                <a href="/incomes/redact" class="btn btn-primary card-btn card-btn-redact">Редактировать</a>
                <button type="button" class="btn btn-danger card-btn card-btn-delete">Удалить</button>
            </div>
        </div>

        <div class="card col-4 ">
            <div class="card-body d-flex align-items-center justify-content-center">
                <a href="/incomes/create" class="add-income ">+</a>
            </div>
        </div>

        <div class="popup-container " id="popup-container">
            <div class="popup d-flex flex-column justify-content-center border border-light-subtle rounded d-flex ">

                <div class="popup-text">Вы действительно хотите удалить категорию? Связанные доходы будут удалены
                    навсегда.
                </div>
                <div class="popup-btns">
                    <button type="button" class="btn btn-success">Да, удалить</button>
                    <button type="button" class="btn btn-danger" id="btn-cancel">Не удалять</button>
                </div>

            </div>
        </div>
    </div>
</section>
