<section class="content container-fluid px-lg-5 px-3 ">
        <div class="title-container">
            <h1 class="dashboard-title">Редактирование дохода/расхода</h1>
        </div>

        <div class="container-fluid">
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <input type="text" placeholder="Тип..." class="col-3 form-control my-input-width" id="type">
                    <span class="error invalid-feedback" id="type-error">Заполните поле</span>
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Категория..." class="col-3 form-control my-input-width" id="category">
                    <span class="error invalid-feedback" id="category-error">Заполните поле</span>
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Сумма в $..." class="col-3 form-control my-input-width" id="sum" >
                    <span class="error invalid-feedback" id="sum-error">Заполните поле</span>
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Дата..." class="col-3 form-control my-input-width" id="date">
                    <span class="error invalid-feedback" id="date-error">Заполните поле</span>
                </div>

                <input type="text" placeholder="Комментарий..." class="mb-3 col-3 form-control my-input-width">
                <div>
                    <button type="button" class="btn btn-success me-2 my-font-size" id="process-button">Создать</button>
                    <a href="/dashboard" class="btn btn-danger my-font-size">Отмена</a>
                </div>
            </div>
        </div>
</section>

